.avatar__image{
    border-radius:200px;
    width: 100%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 10px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-github {
    background:rgb(59, 57, 57);
    color:white;
  }

  .member__name{
      margin-bottom: 30px;
      font-size: 30px;
      font-family: 'Barlow', sans-serif;
      font-weight: 500;
  }