.members{
    display: flex;
    justify-content: space-around;
}

.main__members{
    text-align: center;
}

.main__heading{
    margin-bottom: 70px;
    margin-top: 40px;

    font-size: 60px;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
}

.line{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}