.cards {
    padding: 4rem;
    background: black;
    color: white;
  }


  .img{
    width: 100%;
    opacity: 0.5;
  }

  .cards__title {
    text-align: center;
    font-size: 80px;
  }

  .cards__wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  .root{
    max-width: 545px;
    opacity: 0.8;
    
  }
  .media{
    height: 440px;
  }

  
  @media screen and (max-width: 960px){
        .cards__wrapper{
          flex-direction: column;
        }

        .cards__title{
          font-size: 30px;
        }
        .media{
          height: 200px;
        }
        .root{
          width: 120%;
          margin-bottom: 40px;
          margin-left: -30px ;
        }
  }